extends layout

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  
  .row
    .col-12.col-md-8
      .error= message
      app-root Loading delicious desserts...

block scripts
  script(src='/browser/main-5EG7VLG6.js')